html{
    box-sizing: border-box;
    font-family:sans-serif;
}
body{
    margin:0;
    overflow: hidden;
}
.container{
    display:grid;
    grid-template-areas: 
    "menu inf";
    grid-template-columns: 17% auto;
}
.navigation{
    grid-area: menu;
    height:100vh;
    border-right:3px solid rgba(0, 22, 22, 0.4);
}
.nav-h2{
    border-bottom: 2px solid rgba(0, 22, 22, 0.4);
}
.nav-h2 h2{
    padding-right:10px;
    padding-left:40px;
}
.main-page{
    grid-area: inf;
    height: 100vh;
    overflow: auto;
    scroll-behavior: smooth;
}
p, ul{
    font-size:18px;
    line-height: 24px;
}
.navigation header:not(.header-nav){
    height: 50px;
    border-bottom:2px solid rgba(0, 22, 22, 0.4);
}
.nav-chapter{
    margin-left:20px;
}
h2{
    font-weight: 500;
    font-size: 30px;
    font-family:Tahoma;
}
.main-page h2{
    margin-left:40px;
}
.main-page p{
    margin-right:20px;
}
p{
    margin-left: 50px;
}
ul{
    margin-left:70px;
}
.background{
    background-color: #f7f7f7;
    margin-left: 60px;
    width:90%;
    border-radius: 15px;
    padding-top:10px;
    padding-left:10px;
    padding-bottom:10px;
}
a{
    text-decoration: none;
    color:black;
}
code{
    display:block;
}

@media screen and (max-width:425px){
    .container{
        grid-template-columns: none;
    }
    .navigation{
        display:none;
    }
    p{
        margin:10px;
        text-align: justify;
    }
    ul{
        margin:20px;
    }
    .main-section .background{
        width:70%;
        text-align: center;
    }
    .main-section .background1{
        text-align:left;
        width:80%;
        margin:5px auto;
    }
}